
h1, h3{
    text-align: center;
}

.botaoHome{
    background-color:#0096f7;
    border-color: #0096f7;
    margin-top: 40px;
}

.botaoHome:hover{
    border-color: #4fb7fc;
    background-color: #4fb7fc;
}

.img-header{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}
